@utility menu-sidebar {
  flex-shrink: 0;
  z-index: 10;
  transition: 0.2s ease-in;
  position: fixed;
  inset-inline-start: 20px;
  width: 270px !important;
  overflow-y: hidden;
  box-shadow: 0 2px 6px #2553b91a !important;
}
